#define MICROPY_VFS_LFS2       (0)

#define MICROPY_VFS_FAT        (1)
#define MICROPY_VFS_FAT_LABEL  "flash"
#define MICROPY_VFS_FAT_MOUNT_POINT "/"
#define MICROPY_FATFS_ENABLE_LFN (1)
#define MICROPY_FATFS_RPATH    (2)
#define MICROPY_FATFS_NORTC    (0) // Ensure RTC is enabled if timestamps are needed
